*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.app{
    padding: 0rem 0;
    background-color: #ffff;
}
.nav__container{
    padding: 1rem 7rem;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #EEDDCC;
    justify-content: space-between;
    height: 100%;
}
.logo{
    font-size: 1.2rem;
    font-weight:800;
    color: #4b2929;
    z-index: 2;
}
.nav_group{
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    
}
.nav__links{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 3rem;
    color: #4b2929;
    font-size: 1rem;
    font-weight: 500;
    height: 100%;
    margin: 0;   
}

.ctn__btn{
    display: flex;
    gap: 1rem;
}
.ctn{
    background-color: transparent;
    color: #4b2929;
    border: 1px solid #4b2929;
    border-radius: .4rem;
    font-size: 1rem;
    font-weight: 400;
    padding: .5rem 1rem;
    text-align: center;
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;

}
.login_ctn{
    background-color: white;
    border: none;
}
.toogle{
    display: none;
}

.hero{
    padding: 4rem 4rem 4rem 8rem;
    color: rgb(75, 41, 41);
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: #EEDDCC;
    place-content: center;
    gap: 2rem;

}
.side_1--hero{
    display: grid;
    place-content: center;
    margin-top: -2rem;
    place-items: start;

}

.side_1--hero h1{
    font-size: 3.2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    padding-bottom: 1rem;
    

}
.side_1--hero p{
    font-size: 1.1rem;
    line-height: 1.6;
    padding-bottom: .5rem;
}
.action-btn{
    white-space: nowrap;
    background-color: rgb(75, 41, 41);
    padding: .5rem 2.5rem;
    width: auto;
    color: white;
    font-weight: 600;
    border: none;
    border: 1px solid transparent ;
    transition: all .15s ease-in;
}
.action-btn:hover{
    background-color: transparent;
    border-color: #4b2929;
    color: #4b2929;
    box-shadow: 0px 0px 10px #4b2929 ;
}
.side_2--hero{
    display: grid;
    position: relative;
    place-content: center;

}
.side_2--hero img{
    display: inline-flex;
    width: 480px;
    height: 490px;
    justify-self: center;
    border-bottom-left-radius: 7rem ;
}


.new_collection{
    background-color: rgba(150, 147, 147, 0.178);
    text-align: center;
    padding: 2rem 7rem;
}
.new_collection h2{
    font-size: 3rem;
    color: black;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.new_collection p{
    font-size: 1.2rem;
}
.img__grid{
    display: grid;
    gap: 1rem;
    padding-top: 2rem;
    grid-template-columns: repeat(3,1fr);
}
.img__grid img{
    width: 90%;
}
.loadmore{
    margin-top: 2rem;
}

.best__fashion{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5rem 7rem;
    gap: 2rem;
}
.best__left{
    overflow: hidden;
    display: inline-flex;
    justify-content: center;


}
.best__left img{
    width: 90%;
    height: 450px;
    border-top-left-radius: 7rem;
}
.best__right{
    padding-top: 2rem;
    padding-right: 10rem;
    text-align: left;
    position: relative;
}
.best__right h2{
    font-size: 3rem;
    color: #4b2929;
    font-weight: 700;
}
.best__right p{
    font-size: 1.1rem;
    padding: 1rem 0;
    color: #4b2929;
    font-weight: 400;
    line-height: 1.6;
}
    .stats{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 5rem;
        background-color: #EEDDCC;
        text-align: center;
        padding: 1rem 3rem;
        position: absolute;
        bottom: 0;
        left: -9rem;

    }
    .stat{
        display: flex;
        color: #4b2929;
        flex-direction: column;
        font-weight: 600;
        font-size: 2rem;
    }
    .stat span{
        padding-top: .3rem;
        font-weight: 400;
        font-size: 1rem;
    }
@media screen and (max-width:1024px ) {
    
    .hero{
        grid-template-columns: 1fr 1fr;
    }    
    .side_1--hero h1{
        font-size: 2.9rem;
        padding-bottom: .5rem;
        
    
    }
    .side_1--hero p{
        line-height: 1.4;
    }
    .side_2--hero{
        display: grid;
        position: relative;
        place-content: center;
    
    }
    .side_2--hero img{
        width: 340px;
        height: 350px;
    }
    
    
}

/* media query for 968px */
@media screen and (max-width:968px ) {
    .nav__container{
        padding: .7rem 3rem;
    }
    .hero{
        padding: .7rem 1.5rem;
    }
.toogle{
    display: flex;
    z-index: 1;
}
 .nav_group{
    display: none;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    background-color: #EEDDCC;
    padding-bottom: 4rem;
    transition: all .15s ease-in;
    z-index: 1;
 }   
 .nav__links{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
 }
 .ctn__btn{
    flex-direction: column;
    
 }
 .open_nav{
    display: flex;
 }
 .new_collection{
    padding: 2rem 1.5rem;
}
.new_collection h2{
    font-size: 2.5rem;
}
.img__grid{
    gap: 0rem;
    padding-top: 1.5rem;
}
.img__grid img{
    width: 90%;
}
.loadmore{
    margin-top: 1.5rem;
}

}
@media screen and (max-width:768px ) {
    .hero{
        padding: 10rem 1rem 1rem 1rem;
        grid-template-columns: 1fr;
        gap: 3rem;
        text-align: center;
    }
    .side_1--hero{
        place-content: center;
        margin-top: 0;
        padding: 0 1rem;
        place-items: center;
    
    }
    .side_2--hero{
        padding: 0 1rem;

    }
    
    .side_1--hero h1{
        font-size: 3.4rem;    
    }
    .side_1--hero p{
        font-size: 1.2rem;
    }
    .side_2--hero img{
        width: 420px;
        height: 430px;
        border-bottom-left-radius: 6rem ;
    }
}

@media screen and (max-width:425px ) {
    .side_2--hero img{
        width: 270px;
        height: 280px;
        border-bottom-left-radius: 6rem ;
    }
    .new_collection{
        padding: 2rem  1rem;
    }
    .new_collection h2{
        font-size: 1.4rem;
    }
    .new_collection p{
        font-size: 1rem;
    }
    .img__grid{
        gap: 2rem;
        place-items: center;
        grid-template-columns: 1fr;
    }
    .img__grid img{
        width: 100%;
    }
    .loadmore{
        margin-top: 1.5rem;
    }
    
}