*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    scroll-behavior: smooth;
}
.app{
    padding: 1rem 7rem;
    background-color: #EEDDCC;
}
.nav__container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.logo{
    font-size: 1.2rem;
    font-weight: 600;
    color: #4b2929;
    z-index: 1;
}
.nav_group{
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    
}
.nav__links{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 3rem;
    color: #4b2929;
    font-size: 1rem;
    font-weight: 500;
    height: 100%;
    margin: 0;   
}

.ctn__btn{
    display: flex;
    gap: 1rem;
}
.ctn{
    background-color: transparent;
    color: #4b2929;
    border: 1px solid #4b2929;
    border-radius: .4rem;
    font-size: 1rem;
    font-weight: 400;
    padding: .5rem 1rem;
    text-align: center;
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;

}
.login_ctn{
    background-color: white;
    border: none;
}
.toogle{
    display: none;
}
.side_1--hero{
    display: grid;
    place-content: center;
    margin-top: -2rem;
    place-items: start;

}
.hero{
    padding: 4rem 1rem;
    color: rgb(75, 41, 41);
    display: grid;
    grid-template-columns: 1fr 2fr;
    place-content: center;
    gap: 2rem;
}
.side_1--hero h1{
    font-size: 3.2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    padding-bottom: 1rem;
    

}
.side_1--hero p{
    font-size: 1.1rem;
    line-height: 1.6;
    padding-bottom: .5rem;
}
.action-btn{
    white-space: nowrap;
    background-color: rgb(75, 41, 41);
    padding: .5rem 2.5rem;
    width: auto;
    color: white;
    font-weight: 600;
    border: none;
    border: 1px solid transparent ;
    transition: all .15s ease-in;
}
.action-btn:hover{
    background-color: transparent;
    border-color: #4b2929;
    color: #4b2929;
    box-shadow: 0px 0px 10px #4b2929 ;
}
.side_2--hero{
    display: grid;
    position: relative;
    place-content: center;

}
.side_2--hero img{
    display: inline-flex;
    width: 480px;
    height: 490px;
    justify-self: center;
    border-bottom-left-radius: 7rem ;
}
/* media query for 968px */
@media screen and (max-width:968px ) {
.app{
    padding: .7rem 1.5rem;
}
    
.toogle{
    display: flex;
    z-index: 1;
}
 .nav_group{
    display: none;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: #EEDDCC;
    padding-bottom: 4rem;
    transition: all .15s ease-in;
 }   
 .nav__links{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
 }
 .ctn__btn{
    flex-direction: column;
    
 }
 .open_nav{
    display: flex;
 }
}